* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.nav-horizontal {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;

  a {
    padding: 4px 16px;
  }
}

.delimiter {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #777;
  cursor: ew-resize;
}

@mixin btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;

  transition: background-color .1s ease-out;
  border-radius: 3.01px;
  cursor: pointer;
  font-family: inherit;
  //font-size: 14px;
  //font-variant: normal;
  //font-weight: 400;
  background-image: none;

  border: 1px solid transparent;
  color: #344563;
  text-decoration: none;
  /*display: inline-block;*/
  height: 2.14285714em;
  line-height: 1.42857143em;
  margin: 2px;
  padding: 4px 10px;
}

.btn-transparent {
  @include btn;
  background-color: rgba(9,30,66,.2);
  &:hover {
    background-color: rgba(9,30,66,.3);
  }
}

.btn-primary {
  @include btn;
  color: #fff;
  background-color: #0052CC;
  &:hover {
    background-color: #0065FF;
  }
}