$row-height: 30px !default;



.table {
  background-color: aqua;
}

.thead {
  background-color: bisque;
}

.tbody {
  height: 600px;
  overflow-y: auto;
}

.cell {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-basis: 100%;
  position: relative;
  z-index: 1;
  height: $row-height;
  padding: 4px;
  font-size: 12px;
  border-left: 1px #ccc solid;
}

.th {
  font-weight: bold;
}

.td {
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
}

.overflow {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  background-color: rgb(255, 255, 255);
}

.overflowOpacity {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  bottom: 0;
  width: 24px;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.90) 70%, #ffffff 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.90) 70%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF', endColorstr='#FFFFFF', GradientType=1);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.90) 70%, #ffffff 100%);
  background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.90) 70%, #ffffff 100%);
}

.tr {
  position: relative;
  height: $row-height;
  display: flex;
  flex-flow: row nowrap;
}
