.buttons-underlay {
  position: relative;
  padding: 16px;
  font-size: 12px;
  color: #999;
  margin-top: 8px;
  text-align: left;
}

.buttons-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}